body {
    font-family: 'Courier New', monospace;
    background-color: #002352;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

h1 {
    margin-bottom: 20px;
    animation: cambioColor 4s infinite;
    -webkit-text-stroke: 0.5px white;
    font-family: 'Arial', sans-serif;
}

@keyframes cambioColor {
    0% { color: #0077cc; }
    25% { color: #0055a4; }
    50% { color: #003877; }
    75% { color: #001e4e; }
    100% { color: #0077cc; }
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #00599B;
    color: #fff;
    border: 2px solid #003963;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #00407a;
}

form {
    background-color: #003275;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: #00599B;
    color: #fff;
}

input[type="submit"] {
    background-color: #00407a;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00284f;
}

.mensaje {
    margin-top: 20px;
    color: #fff;
}

.error {
    color: #ff0000;
}

.user-table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.user-table th, .user-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}

.user-table th {
    background-color: #003963;
    color: #fff;
}



